# Soal 4

In [ ]:
a = 2
b = 3
c = -1
z = a*a + b - c

# Soal 5

In [6]:
nama = list(map(str,input().split()))
_ , _ , age, _ = map(str,input().split())


name = ""
for i in range(2,len(nama)):
    name += nama[i] + " "
name,age

('abdan hafid sasa ', '18')

# Soal 6

In [8]:
apel = 6000
jeruk = 2000
anggur = 1000

print(f"Total Belanjaan : {3*apel+2*anggur+jeruk}")

Total Belanjaan : 22000

# Soal 7

In [9]:
mangga = 3000
melon = 10000
anggur = 3000
uang_abdan = 20000
print(f"Kembalian : {uang_abdan - 2*mangga - melon - 3*anggur}")

Kembalian : -5000

# Kumpulkan Uang Kas !

In [10]:
a,b = list(map(int,input().split()))
a*b

3000

# Baru Belajar Aljabar

In [ ]:
a  = float(input())
c = float(input())
b = c//a
print(b)

3

# Belajar Aljabar Lagi

In [15]:
a,c,d = map(int, input().split())
b = (c+d)/a
print(b)

3.0

# Tukar Hadiah

In [16]:
abdan, kevin, arya, albert = map(int,input().split())
arya, abdan = arya + abdan, 0
abdan, albert = albert + abdan, 0
abdan, kevin = kevin + abdan, 0
albert, abdan = albert + abdan, 0
arya, albert = arya + albert, 0

abdan, kevin, arya, albert

(0, 0, 4, 0)

# Update Variabel

In [18]:
a,b = map(int,input().split())
c,d = map(int,input().split())
a+c, b+d

(3, 2)

# Update Variabel (Lagi)

In [2]:
a,b = map(int,input().split())
c,d = map(int,input().split())

a += c
b += d
a,b = b,a
b -= a
a = c/a
b = b*a
a,b

(1.0, 1.0)

# Bilangan Apa tuh?

In [ ]:
a = int(input())
if a > 4:
    print("PANAS")
else:
    print("HUJANDERAS")

# Bilangan Apa tuh Lagi?

In [4]:
a = int(input())
if a-3 > 1:
    print("HUJANDERAS")
else:
    print("PANAS")

HUJANDERAS

# Bilangan Apa tuh Lagi 2?

In [6]:
a = int(input())
if a%5==2:
    print("HUJANDERAS")
else:
    print("PANAS")

PANAS

# Kevin Baik Hati

In [8]:
a,b = map(int, input().split())
if a%b == 0:
    print("BISA")
else:
    print("MAAF")

BISA

# Kevin Baik Hati

In [11]:
x,y,z= map(int, input().split())
if (x+z)/y == 0:
    print("BISA")
else:
    print("MAAF")

MAAF

# Ga Dulu Matematika

# Banyak Banyakan Angpao

In [14]:
n,m = map(int,input().split())
if n > m:
    print("Kevin")
elif m > n:
    print("Abdan")
else:
    print("Seri")

Seri

# Periksa Angpao

In [15]:
n = int(input())
if 100 <= n <= 999:
    print("Ya")
else:
    print("Tidak")

Ya

# Angka Ajaib

In [20]:
n = int(input())

if n <10:
    print("Satuan")
elif 10<= n < 100:
    print("Puluhan")
elif 100 <= n <= 999:
    print("Ratusan")
else:
    print("Lebih dari ratusan")

Ratusan

# Kevin Rajin Pushrank

In [22]:
n = int(input())

if n < 899:
  print("Bronze")
elif n >= 899 and n < 1098:
  print("Warior")
elif n >= 1098 and n < 3501:
  print("Mythic")
elif n >= 3501 and n < 4738:
  print("Legend")
else:
  print("Epic")

Mythic

# Kotak Ajaib

In [ ]:
kotak = list(map(int,input().split()))
x,y = map(int,input().split())
kotak[2] +kotak[3]

# Daftar Angka Bagus

In [27]:
kotak = list(map(int,input().split()))
x,y = map(int,input().split())
kotak[2] +kotak[3]

3

# Angka Angka

In [ ]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,i+1):
    print(j)

# Pagar - Pagar

In [ ]:
n = int(input())
for i in range(n):
    for j in range(i+1):
        print("#", end="")
    print()

# Angka Angka Lagi

In [24]:
n = int(input())
for i in range(n):
    for j in range(i+1):
        print(j+1, end="")
    print()

1
12
123

# Angka Angka Lagi Tapi Kebalik

In [25]:
n = int(input())
for i in range(n):
    for j in range(n-i):
        print(j+1, end="")
    print()

123
12
1

# Angka Angka Lagi Tapi Kebalik Banget

In [26]:
n = int(input())
for i in range(n):
    for j in range(n-i,0,-1):
        print(j, end="")
    print()

321
21
1